<!--
This does nothing at the moment. 
-->

<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="../../css/style.css">
    <title>Live Blog</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>