<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="/public/css/index.css">
    <link type="text/css" rel="stylesheet" href="/public/css/fontawesome.css"> 
    <link type="text/css" rel="stylesheet" href="/public/css/style.css">
    <title>LiveBlog</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
       <a style="padding-left:1.0rem" class="navbar-brand">LiveBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feed">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = "createNav" href="/create">Create</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      </ul>
    <div class="navbar-nav ms-auto">
          <a id="loginNav"  style="padding-right:1.2rem"class="nav-link"style = "display:block;" href="/login"  >Login </a>
          <a id = "logoutNav" style="padding-right:1.2rem"class="nav-link" style = "display:block;" href="/logout">Logout </a>

      </div>
  </div>
</nav>
    <!-- TODO: Make a logo -->
    <div class="about-section">
        <h1>Error 404</h1>
        <p>The page you requested does not exist.</p>
    </div>

    <div class="slide" style="background-color:rgb(225, 236, 236)">
      <img src="../img/livebloglogo-full.svg" style="display:block; margin-left:auto; margin-right:auto;">
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
  </body>
  <script src="dist/bundle.js"></script>
  <script> 
 firebase.initializeApp({
  apiKey: "AIzaSyBZ5qRQ_Wj6uidTds4zrAySVhSSZlAPrGk",
  authDomain: "final-project-9b3c9.firebaseapp.com",
  projectId: "final-project-9b3c9",
  storageBucket: "final-project-9b3c9.appspot.com",
  messagingSenderId: "301025290077",
  appId: "1:301025290077:web:088624a5e6aeb37ba2eab4",
  measurementId: "G-P9V184X1V5"
});
firebase.auth().onAuthStateChanged((user) => {
   if (user) {
      document.getElementById("loginNav").style.display = "none";
      document.getElementById("logoutNav").style.display = "block";
      document.getElementById("createNav").style.display = "block";
    } else {
        document.getElementById("loginNav").style.display = "block";
        document.getElementById("logoutNav").style.display = "none";
        document.getElementById("createNav").style.display = "none";
    }
  });
</script>
</html>
