<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="css/feed.css">
    <link type="text/css" rel="stylesheet" href="css/fontawesome.css"> 
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <title>LiveBlog</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
       <a style="padding-left:1.0rem" class="navbar-brand">LiveBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feed">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Create</a>
      </li>
    </ul>
    <div class="navbar-nav ms-auto">
          <a style="padding-right:1.2rem"class="nav-link" href="/login">Login </a>
      </div>
  </div>
</nav>
    <div class="about-section">
        <h1>Your Blogs</h1>
    </div>
    <div class="row" style="padding-top:10vmin">
        <div class="col-sm" style="text-align:center">
            <h1>{{#if curruser}}
                {{curruser}}
            {{else}}
                Test User
            {{/if}}</h1>
            <h5>Posts: {{#if posts}}
            {{posts}}
            {{else}}
            1
            {{/if}}
            </h5>
        </div>
        <div class="col-sm" style="padding-right:50vmin">
            <div class="wrapper">
                <!-- 1st blog post -->
                <div class="card" onclick="window.location='http://localhost:3000/clicked'">
                    <!-- #tags,heading,description -->
                    <div class="card-body">
                        <h2 class="blog-title">Test</h2>
                        <p class="blog-description">Description</p>

                <!-- Profile image, name, followers -->
                        <div class="card-profile">
                        <div class="card-profile-info">
                            <h3 class="profile-name">Username</h3>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- 1st blog post - The End -->
            </div>
        </div>

    </div>


</body>
</html>