<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/aboutstyle.css">
    <link rel="stylesheet" href="../css/fontawesome.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Feed</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <!--Links-->
      <div class="navbar-nav">
          <a href="home.html" class="nav-item nav-link">Home</a>
          <a href="about.html" class="nav-item nav-link">About</a>
          <a href="login.html" class="nav-item nav-link">Login</a>
      </div>
    </nav>
</body>