<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="css/index.css">
    <link type="text/css" rel="stylesheet" href="css/fontawesome.css"> 
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <title>LiveBlog</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
       <a style="padding-left:1.0rem" class="navbar-brand">LiveBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feed">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = "createNav" href="/create">Create</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      </ul>
    <div class="navbar-nav ms-auto">
          <a id="loginNav"  style="padding-right:1.2rem"class="nav-link"style = "display:block;" href="/login"  >Login </a>
          <a id = "logoutNav" style="padding-right:1.2rem"class="nav-link" style = "display:block;" href="/logout">Logout </a>

      </div>
  </div>
</nav>
    <!-- TODO: Make a logo -->
    <div class="about-section">
        <h1>Welcome to LiveBlog</h1>
        <p>"<i>We're not Twitter.</i>"</p>
    </div>

    <div class="slide" style="background-color:rgb(225, 236, 236)">
      <div class="row" style="padding-left:10vmin; padding-top:10vmin;">
        <div class="col-sm" style="padding-top:30vmin;">
          <h2>Putting the forum back into the people's hands.</h2>
          <p>LiveBlog is a free and open source public forum for people to talk about whatever they want. We have a main deployment <a href="">here</a>, but feel free to take the code and deploy it locally.</p>
        </div>
        <!-- Credit: Daniel Lucero-->
        <div class="col-sm">
          <img src="https://daniellucero.com/wp-content/uploads/2022/08/d3464a4351fdf340ccb6bb37c281381a.gif">
        </div>
      </div>
    </div>

    <div class="slide" style="background-color:rgb(156, 178, 226)">
      <div class="row" style="padding-left:20vmin; padding-top:10vmin;">
        <div class="col-sm">
          <h1>How to Get Started.</h1>
          <ol>
            <li style="font-size:x-large">Create an account by clicking <a href="/login">sign up</a>.</li>
            <li style="font-size:x-large">Sign in, and click the "New Post" button.</li>
            <li style="font-size:x-large">Post!</li>
          </ol>
          <p>Share your thoughts with the rest of the world! <sub>(or at the very least, this community)</sub></p>
        </div>
        <div class="col-sm">
          <h1>Testimonials</h1>
          <ul>
            <li style="font-size:x-large">"I can't post yet, why is this here" --Ryan</li>
            <li style="font-size:x-large">"Firebase is hard" --Max Lewis</li>
            <li style="font-size:x-large">"We might need to put this on Azure" --Team Fun</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="slide">
      <div class="row" style="padding-left:20vmin; padding-top:10vmin;">
        <div class="col-sm" style="padding-left:10vmin;padding-top:10vmin;">
          <!-- <img src="https://i.giphy.com/media/qgQUggAC3Pfv687qPC/giphy.webp"> -->
          <img src="../img/livebloglogo-full.svg">
        </div>
        <div class="col-sm" style="padding-left:10vmin;padding-top:20vmin;">
          <h2>Find us on GitHub.</h2>
          <a href="https://github.com/software-engineering-team-fun/blog-project"><img src="../img/iconmonstr-github-1.svg" style="width:25%"></a>
          <h2>Or learn more about us <a href="/about">here</a></h2>
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
  </body>
  <script src="dist/bundle.js"></script>
  <script> 
 firebase.initializeApp({
  apiKey: "AIzaSyBZ5qRQ_Wj6uidTds4zrAySVhSSZlAPrGk",
  authDomain: "final-project-9b3c9.firebaseapp.com",
  projectId: "final-project-9b3c9",
  storageBucket: "final-project-9b3c9.appspot.com",
  messagingSenderId: "301025290077",
  appId: "1:301025290077:web:088624a5e6aeb37ba2eab4",
  measurementId: "G-P9V184X1V5"
});
firebase.auth().onAuthStateChanged((user) => {
   if (user) {
      document.getElementById("loginNav").style.display = "none";
      document.getElementById("logoutNav").style.display = "block";
      document.getElementById("createNav").style.display = "block";
    } else {
        document.getElementById("loginNav").style.display = "block";
        document.getElementById("logoutNav").style.display = "none";
        document.getElementById("createNav").style.display = "none";
    }
  });
</script>
</html>
