<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="css/login.css">
    <link type="text/css" rel="stylesheet" href="css/fontawesome.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <title>Login</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
       <a style="padding-left:1.0rem" class="navbar-brand">LiveBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/feed">Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id = "createNav" style = "display: none" href="/create">Create</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>
    <div class="navbar-nav ms-auto">
          <a style="padding-right:1.2rem"class="nav-link" href="/login">Login </a>
      </div>
  </div>
</nav>


    <div class="container text-center">
      <div class="row ">
          <div  id = "EmailLogin"  class="col-md-6 mx-auto">
            <div class="card card-body bg-light mt-5">
              <h2>Login</h2>

              <form>
                <div class="form-group">
                  <label for="email">Email: <sup>*</sup></label>
                    <input id="loginEmail" type="email" name="email" class="form-control form-control-lg">
                </div>
                <div class=" form-group">
                  <label for="password">Password: <sup>*</sup></label>
              <input id="loginPassword" name="password" class="form-control form-control-lg" type="password">
            </div>

            <div class=" row">
            <div style ="padding-top:1.2rem" class="col">
              <input id="btnLogin" style = "background-color: #474e5d" value="Login" class="btn btn-primary btn-block" type="button">
            </div>
          </div>

        </form>
      </div>
    </div>

      <div  id = "EmailSignUp"  class="col-md-6 mx-auto">
      <div class="card card-body bg-light mt-5">
        <h2>Create An Account</h2>
        
        <form>
            <div class="form-group">
                <label for="email">Email: <sup>*</sup></label>
                <input id="signupEmail" type="email" name="email" class="form-control form-control-lg">
            </div>

            <div class="form-group">
                <label for="password">Password: <sup>*</sup></label>
                <input id="signupPassword" type="password" name="password" class="form-control form-control-lg" type="password">
                <span class="invalid-feedback"></span>
            </div>

            <div class=" row">
            <div style ="padding-top:1.2rem" class="col">
              <input id="btnSignup" style = "background-color: #474e5d" value="Sign Up" class="btn btn-primary btn-block" type="button">
            </div>
          </div>
          </form>
          </div>
        </div>
            <h1 id = "orHeader">OR</h1>

              <div class="row ">
                <!-- TODO: Add functionality -->
                <button id = "googleSignIn">Google Login</button>
              </div>
            </div>

      </div>
      <script src="/dist/bundle.js"></script>
 <script src="/__/firebase/7.6.1/firebase-app.js"></script>
  <script src="/__/firebase/7.6.1/firebase-auth.js"></script>


  </body>
  
  <!-- The core Firebase JS SDK is always required and must be listed first -->
   <script>
firebase.initializeApp({
  apiKey: "AIzaSyBZ5qRQ_Wj6uidTds4zrAySVhSSZlAPrGk",
  authDomain: "final-project-9b3c9.firebaseapp.com",
  projectId: "final-project-9b3c9",
  storageBucket: "final-project-9b3c9.appspot.com",
  messagingSenderId: "301025290077",
  appId: "1:301025290077:web:088624a5e6aeb37ba2eab4",
  measurementId: "G-P9V184X1V5"
});
document.getElementById('googleSignIn').addEventListener('click',GoogleLogin)

let provider = new firebase.auth.GoogleAuthProvider()

function  GoogleLogin(){
  console.log('Login Btn Call')
  firebase.auth().signInWithPopup(provider).then(res=>{
    console.log(res.user)
      let user = res.user
      if (user != null){
          window.location.replace('/logout');        
      }

  }).catch(e=>{
  console.log(e)
 })
 }


  

</script>
</html>