<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link type="text/css" rel="stylesheet" href="css/login.css">
    <link type="text/css" rel="stylesheet" href="css/fontawesome.css">
    <link type="text/css" rel="stylesheet" href="css/style.css">
    <title>Login</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
       <a style="padding-left:1.0rem" class="navbar-brand">LiveBlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Create</a>
      </li>
    </ul>
    <div class="navbar-nav ms-auto">
          <a style="padding-right:1.2rem"class="nav-link" href="/login">Login </a>
      </div>
  </div>
</nav>


    <div class="container text-center">
      <div class="row ">
          <div  id = "EmailLogin"  class="col-md-6 mx-auto">
            <div class="card card-body bg-light mt-5">
              <h2>Login</h2>

              <form>
                <div class="form-group">
                  <label for="email">Email: <sup>*</sup></label>
                    <input id="loginEmail" type="email" name="email" class="form-control form-control-lg">
                </div>
                <div class=" form-group">
                  <label for="password">Password: <sup>*</sup></label>
              <input id="loginPassword" name="password" class="form-control form-control-lg" type="password">
            </div>

            <div class=" row">
            <div style ="padding-top:1.2rem" class="col">
              <button id="btnLogin" style = "background-color: #474e5d" value="Login" class="btn btn-primary btn-block" type="button">Login</button>
            </div>
          </div>

        </form>
      </div>
    </div>

      <div  id = "EmailSignUp"  class="col-md-6 mx-auto">
      <div class="card card-body bg-light mt-5">
        <h2>Create An Account</h2>
        
        <form>
            <div class="form-group">
                <label for="email">Email: <sup>*</sup></label>
                <input id="signupEmail" type="email" name="email" class="form-control form-control-lg">
            </div>

            <div class="form-group">
                <label for="password">Password: <sup>*</sup></label>
                <input id="signupPassword" type="password" name="password" class="form-control form-control-lg" type="password">
                <span class="invalid-feedback"></span>
            </div>

            <div class=" row">
            <div style ="padding-top:1.2rem" class="col">
              <button id="btnSignup" style = "background-color: #474e5d" value="Sign Up" class="btn btn-primary btn-block" type="button">Sign up</button>
            </div>
          </div>
          </form>
          </div>
        </div>
            <h1 id = "orHeader">OR</h1>

              <div class="row ">
                <!-- TODO: Add functionality -->
                <button id = "googleSignIn">Google Login</button>
                  <div id = "userDetails"> </div>
                  <button id = "googleLogout" style = "display: none" "text-align:center;">Google Signout</button>
              </div>
            </div>

      </div>
<script src="/__/firebase/7.6.1/firebase-app.js"></script>
  <script src="/__/firebase/7.6.1/firebase-auth.js"></script>
  </body>
  
  <script src="dist/bundle.js"></script>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
   <script>
document.getElementById('googleSignIn').addEventListener('click',GoogleLogin)
document.getElementById('googleLogout').addEventListener('click',GoogleLogout)

let provider = new firebase.auth.GoogleAuthProvider()

function  GoogleLogin(){
  console.log('Login Btn Call')
  firebase.auth().signInWithPopup(provider).then(res=>{
    console.log(res.user)
      showUserDetails(res.user)
      let user = res.user
      if (user != null){
        document.getElementById("googleSignIn").style.display = "none";
        document.getElementById("googleLogout").style.display = "block";
        document.getElementById('EmailLogin').style.display = "none";
        document.getElementById('EmailSignUp').style.display = "none";
        document.getElementById('orHeader').style.display = "none";

}

  }).catch(e=>{
  console.log(e)
 })
 }
 function GoogleLogout(){
    console.log("Logout Btn call")
    firebase.auth().signOut().then(() =>{
    }).catch(e =>{
      console.log(e)
    })
    document.getElementById("googleSignIn").style.display = "block";
    document.getElementById("googleLogout").style.display = "none";
    document.getElementById('userDetails').innerHTML = "";
    document.getElementById('EmailLogin').style.display = "block";
    document.getElementById('EmailSignUp').style.display = "block";
    document.getElementById('orHeader').style.display = "block";


 }

  function showUserDetails(user){
    document.getElementById('userDetails').innerHTML = `
    <p> Name: ${user.displayName}</p>
    <p> Email: ${user.email}</p> 
    <p> User ID: ${user.uid}</p> `

    
}

</script>
<script src="/__/firebase/init.js?useEmulator=true"></script>
</html>