<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/fontawesome.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <!--Links-->
      <div class="collapse navbar-collapse" id="navbarText">
          <a href="/home" class="nav-item nav-link text-white p-2">Home</a>
          <a href="" class="nav-item nav-link text-white p-2">About</a>
      </div>
      <span class="navbar-text text-white">
        <a href="/login" class="nav-item nav-link text-white p-2">Login or Sign up</a>    
        <!--TODO: IMPLEMENT LOGOUT BUTTON a href="/login" class="nav-item nav-link text-white p-2">Logout</a>-->
      </span>
    </nav>
    <div class="container text-center">
      <div class="row ">
          <div class="col">
              <div class="card p-3 mb-2 bg-dark text-white">
                  <!-- TODO: Add functionality -->
                  <h2>Login</h1>
                  <div class="form-group">
                    <label for ="patAge">Username</label>
                    <input type = "email"class="form-control" id = "txtEmail" placeholder="Username">
                </div>
                <div class="form-group">
                  <label for ="patAge">Password</label>
                  <input type = "password" class="form-control" id = "txtPassword" placeholder="Password">
                  <button id="btnLogin" class="button mt-2" value="Sign In" type="button">Sign In</button>
              </div>
                  </div>
              </div>
              <div class="col">
                <div class="card p-3 mb-2 bg-dark text-white">
                    <!-- TODO: Add functionality -->
                    <h2>Sign up</h1>
                    <div class="form-group">
                      <label for ="patAge">Email</label>
                      <input type = "email" class="form-control" id = "signupEmail" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label for ="patAge">Password</label>
                    <input type = "password" class="form-control" id = "signupPassword" placeholder="Password">
                    <button id="btnSignup"class="button mt-2" value="Sign up" type="button">Sign up</button>
                </div>
                    </div>
                </div>
              </div>
              <h1>OR</h1>
              <div class="row ">
                <!-- TODO: Add functionality -->
                <button class="button mt-2" value="google_sign_in" type="button">Sign In with google</button>
              </div>
          </div>
      </div>

  </body>
  <script src="./js/bundle.js"></script>
</html>